<div class="margin-top-15">
    <h4>Informations générales</h4>
    <div class="form-group">
        {{ form_label(form.username, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.username, {"attr": {'class' : "form-control"}}) }}
        </div>
        {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.username}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstname, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.firstname, {"attr": {'class' : "form-control"}}) }}
        </div>
        {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.firstname}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.surname, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.surname, {"attr": {'class' : "form-control"}}) }}
        </div>
        {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.surname}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.email, {"attr": {'class' : "form-control"}}) }}
        </div>
        {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.email}) }}
    </div>

    {% if form.plainPassword.first is defined %}
        <div class="form-group">
            {{ form_label(form.plainPassword.first, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.first, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.plainPassword.first}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.second, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.plainPassword.second}) }}
        </div>
    {% endif %}
</div>

{% if form.group is defined %}
    <div class="form-group">
        {{ form_label(form.group, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.group, {"attr": {'class' : "form-control"}}) }}
        </div>
        {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.group}) }}
    </div>
{% endif %}
