{% extends("AdminAppBundle::layout.html.twig") %}

{% block title %}
    Mise à jour utilisateur - {{ parent() }}
{% endblock %}


{% block content %}
    <div class="main-content">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="col-md-12">
            {{ parent() }}
        </div>


        <h2 class="col-md-12">Modification utilisateur</h2>
        {{ form_errors(form) }}
        <div class="well well-block-info">
            <div class="col-md-6">
                {{ include('@AdminUserManager/Form/userType.html.twig') }}
            </div>
            <div class="col-md-6">
                {{ include('@FrontApp/Form/contactType.html.twig') }}
            </div>
        </div>

        {{ include("@AdminUserManager/User/updateAgencies.html.twig", {"agencies" : agencies, "user" : user}) }}

        {{ include("@AdminUserManager/User/updateProfiles.html.twig", {"user" : user}) }}

        {{ form_rest(form) }}
        <input type="submit" class="btn btn-default pull-right" value="Modifier"/>
        <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/adminusermanager/js/adminUser.js") }}"></script>
{% endblock %}
