<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ serverName }}
    </title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link type="text/css" rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        {#<link type="text/css" rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">#}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/bootstrap3.3.6.min.css') }}">{#
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/bootstrap-theme.3.3.6.min.css') }}">#}

        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/animate.min.css') }}">
        <link type="text/css" rel="stylesheet"
              href="{{ asset('bundles/frontapp/css/bootstrap-dropdownhover.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/PNotify/css/pnotify.custom.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/frontStyle.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/bootstrap-toggle2.2.2.css') }}">
        <link type="text/css" rel="stylesheet"
              href="{{ asset('bundles/frontapp/libraries/chosen_v1.6.2/chosen.css') }}">
    {% endblock %}
</head>

{% set numberNotification = userUnreadMessage()|length %}

<body>
<header class="navbar navbar-static-top bs-docs-nav front-bar" id="top">
    <nav class="navbar-default front-bar">
        <div class="container">
            <div class="pull-left">
                {% block imageBanner %}
                    <a href="{{ path("front_homepage") }}">
                        <img src="{{ asset('bundles/frontapp/img/logo.jpg') }}" alt="Logo Isidore" title="Accueil"/>
                    </a>
                {% endblock %}
            </div>
            <div class="navbar-right pull-right">
                {% block menusRight %}
                    <ul class="nav pull-left">
                        <li class="dropdown pull-right">
                            <a class="dropdown-toggle transparent" role="button" data-toggle="dropdown"
                               data-hover="dropdown">
                                {# I need to add the "<!-- -->" because instead, it adds a "-" on the image on the
                                    hover with the mouse #}
                                <img class="img img-circle img-profile-picture"
                                     src="{{ (app.user is not null and app.user.imageName != "") ?
                                        vich_uploader_asset(app.user, 'imageFile') : asset("uploads/avatar/basic_avatar.png") }}"
                                     alt="profile"/>
                                <span class="badge badge-profile-picture badge-alert">{{ numberNotification > 0 ? numberNotification: "" }}</span>
                                <span class="badge badge-connected-as badge-info">{{ is_granted('ROLE_PREVIOUS_ADMIN') ? "!" : "" }}</span>
                            </a>
                            <ul class="dropdown-menu multi-level closer">
                                <li>
                                    <a href="{{ path("application_index") }}">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("fos_user_profile_show") }}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        {{ app.user.firstname }} {{ app.user.surname }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ path("user_notifications") }}">
                                        <span class="badge pull-right badge-alert">{{ numberNotification > 0 ? numberNotification : "" }}</span>
                                        <i class="glyphicon glyphicon-bell"></i>
                                        Notifications
                                    </a>
                                </li>
                                {% set application = "-1" %}
                                {% block profileSwitcher %}
                                    {% if getProfileByApplicationName( application )|length > 1 %}
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                                Profils de cette application

                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                {# @var preferedProfile \Front\AppBundle\Entity\ProfilePrefered #}
                                                {% set preferedProfile =  app.user.profilePrefered(application) %}
                                                {% for profile in getProfileByApplicationName(application) %}
                                                    {# @var profile \Front\AppBundle\Entity\Profile #}
                                                    <li>
                                                        <a href="{{ path("front_change_profile", { "id" : profile.id }) }}" class="glyphicon-whitespaces-inherit">
                                                            {{ profile.name }}
                                                            <i class="{{ profile.id == preferedProfile.profile.id ? "glyphicon glyphicon-ok pull-right": "" }}"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endblock %}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('admin_user_manager_homepage', {'_switch_user': '_exit'}) }}">
                                            <span class="badge pull-right badge-info">!</span>
                                            <i class="glyphicon glyphicon-new-window"></i>
                                            Quitter ce profil temporaire
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                        <i class="glyphicon glyphicon-off"></i>
                                        Déconnexion
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endblock %}
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="visible-xs-block clearfix"></div>
            <div class="collapse navbar-collapse">
                {% block menus %}
                {% endblock %}
            </div>
        </div>
    </nav>
    {% block separationBar %}
        <div class="separation-bar"></div>
    {% endblock %}
</header>


{% block mainContent %} {% endblock %}



{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalit?s du bootstrap Twitter #}
    {#<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/jquery2.2.4.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/bootstrap3.3.6.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/bootstrap-dropdownhover.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/PNotify/js/pnotify.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/front.js") }}"></script>
    <script type="text/javascript"
            src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/frontapp/libraries/chosen_v1.6.2/chosen.jquery.js') }}"></script>
{% endblock %}

</body>
</html>
