{% extends "FrontAppBundle::layout.html.twig" %}

{% block title %}
    Aide - {{ parent() }}
{% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="row">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Aide page d'accueil :</h3>
                                <h4 id="informations_generales">Informations générales</h4>
                                <div class="col-md-12">
                                    <p class="col-md-6">
                                        Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la
                                        majeure
                                        partie d'entre elles a été altérée par l'addition d'humour ou de mots
                                        aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous
                                        voulez
                                        utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien
                                        d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur
                                        Internet
                                        tendent à reproduire le même extrait sans fin, ce qui fait de lipsum.com
                                        le seul vrai générateur de Lorem Ipsum. Iil utilise un dictionnaire de plus de
                                        200
                                        mots latins, en combinaison de plusieurs structures de phrases, pour générer
                                        un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne contient aucune
                                        répétition, ni ne contient des mots farfelus, ou des touches d'humour.
                                    </p>
                                    <img class="col-md-6" src="{{ asset('bundles/frontapp/img/help/documents.PNG') }}">
                                </div>
                                <h4 id="news">News</h4>
                                <div class="col-md-12">
                                    <p class="col-md-12">
                                        Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la
                                        majeure
                                        partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires
                                        qui
                                        ne
                                        ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un
                                        passage
                                        du
                                        Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                        texte.
                                        Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                        extrait
                                        sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                        utilise
                                        un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs
                                        structures
                                        de
                                        phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu
                                        ne
                                        contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                        d'humour.
                                    </p>
                                    <img class="col-md-12" src="{{ asset("bundles/frontapp/img/help/accueil.PNG") }}">
                                </div>
                                <h4 id="documents">Documents</h4>
                                <div>
                                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure
                                    partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui
                                    ne
                                    ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage
                                    du
                                    Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                    texte.
                                    Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                    extrait
                                    sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                    utilise
                                    un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures
                                    de
                                    phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne
                                    contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                    d'humour.
                                </div>
                                <h4 id="se_connecter">Se connecter</h4>
                                <div>
                                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure
                                    partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui
                                    ne
                                    ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage
                                    du
                                    Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                    texte.
                                    Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                    extrait
                                    sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                    utilise
                                    un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures
                                    de
                                    phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne
                                    contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                    d'humour.
                                </div>
                                <h4 id="oubli_mot_passe">Oubli de mot de passe</h4>
                                <div>
                                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure
                                    partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui
                                    ne
                                    ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage
                                    du
                                    Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                    texte.
                                    Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                    extrait
                                    sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                    utilise
                                    un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures
                                    de
                                    phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne
                                    contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                    d'humour.
                                </div>
                                <h4 id="applications">Applications</h4>
                                <div>
                                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure
                                    partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui
                                    ne
                                    ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage
                                    du
                                    Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                    texte.
                                    Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                    extrait
                                    sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                    utilise
                                    un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures
                                    de
                                    phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne
                                    contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                    d'humour.
                                </div>
                                <h4 id="menu_personnel">Menu personnel (supérieur droit)</h4>
                                <div>
                                    Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure
                                    partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui
                                    ne
                                    ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage
                                    du
                                    Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le
                                    texte.
                                    Tous les générateurs de Lorem Ipsum sur Internet tendent à reproduire le même
                                    extrait
                                    sans fin, ce qui fait de lipsum.com le seul vrai générateur de Lorem Ipsum. Iil
                                    utilise
                                    un dictionnaire de plus de 200 mots latins, en combinaison de plusieurs structures
                                    de
                                    phrases, pour générer un Lorem Ipsum irréprochable. Le Lorem Ipsum ainsi obtenu ne
                                    contient aucune répétition, ni ne contient des mots farfelus, ou des touches
                                    d'humour.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 margin-top-20" role="complementary">
                <div class="list-group small fixed-wrapper" style="position: fixed; width: 20%;">
                    <a href="#informations_generales" class="list-group-item col-xs-6 col-sm-12">
                        Informations générales
                    </a>
                    <a href="#news" class="list-group-item col-xs-6 col-sm-12">
                        News
                    </a>

                    <a href="#documents" class="list-group-item col-xs-6 col-sm-12">
                        Documents
                    </a>

                    <a href="#se_connecter" class="list-group-item col-xs-6 col-sm-12">
                        Se connecter
                    </a>

                    <a href="#oubli_mot_passe" class="list-group-item col-xs-6 col-sm-12">
                        Oubli de mot de passe
                    </a>

                    <a href="#applications" class="list-group-item col-xs-6 col-sm-12">
                        Applications
                    </a>
                    <a href="#menu_personnel" class="list-group-item col-xs-6 col-sm-12">
                        Menu supérieur droit
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
{% endblock %}
