{% extends("::base.html.twig") %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/adminapp/js/admin.js") }}"></script>
    {# <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>#}
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/jquery.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/bootstrap.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/responsive.dataTables2.1.0.min.js") }}"></script>
    <script type="text/javascript"
            src="{{ asset("bundles/frontapp/js/responsive.bootstrap.datatables2.1.0.min.js") }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/adminapp/css/adminStyle.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/adminusermanager/css/userManagerStyle.css') }}">
{% endblock %}

{% block imageBanner %}
    <a href="{{ path("admin_app_homepage") }}">
        <img src="{{ asset('download/admin/img/admin.png') }}" alt="Administration Isidore" title="Accueil"/>
    </a>
{% endblock %}


{% block profileSwitcher %}
    {# applicationAdministration is a global variable set in config.yml #}
    {% set application = applicationAdministration %}
    {{ parent() }}
{% endblock %}

{% block separationBar %}
    <div class="separation-bar separation-bar-admin"></div>
{% endblock %}

{% block menus %}
    {{ render(controller("AdminAppBundle:Base:topMenu", {"route" : app.request.attributes.get('_route')})) }}
{% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            {% block content %}
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }} margin-top-15">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
