{% extends("AdminAppBundle::layout.html.twig") %}

{% block title %}
    Liste applications - {{ parent() }}
{% endblock %}


{% block content %}
    <div class="col-md-12 main-content">
        <h2 class="col-md-12">Liste des applications</h2>
        <div class="col-md-12">
            {{ parent() }}
        </div>
        {% if is_granted('ROLE_ADMIN_APPLICATION_UPDATE') %}
            <a class="col-md-3 btn btn-default pull-right" href="{{ path("admin_application_manager_add") }}">Créer
                application</a>
        {% endif %}
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th data-priority="3">Nom</th>
                <th data-priority="6">Nouvelle application?</th>
                {% if is_granted('ROLE_ADMIN_APPLICATION_UPDATE') %}
                    <th data-priority="1">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                {# @var application \Front\AppBundle\Entity\Application #}
                <tr>
                    <td>{{ application.name }}</td>
                    <td class="text-center">
                        {% if application.external %}
                            <span class="glyphicon glyphicon-remove icon-danger"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok icon-success"></span>
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN_APPLICATION_UPDATE') %}
                        <td class="text-center">
                            <a href="{{ path("admin_application_manager_update", { 'id': application.id }) }}"
                               title="Modifier"><i
                                        class="glyphicon glyphicon-cog"></i></a>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
