{# @var form \Front\DomainBundle\Entity\Domain #}
<div class="clearfix"></div>
{{ form_errors(form) }}
<div class="well well-block-info">
    <div class="col-md-8 col-sm-12 ">
        <h4>Informations générales</h4>
        <div class="form-group">
            {{ form_label(form.label, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.label) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.label}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label control-label required" for="catalog_isPositionLeft">Actif?</label>
            <div class="col-sm-8">
                {{ form_widget(form.active) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.active}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.role, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.role) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.role}) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}
