{% extends("AdminAppBundle::layout.html.twig") %}

{% block title %}
    Liste agences - {{ parent() }}
{% endblock %}


{% block content %}
    <div class="col-md-12 main-content">
        <h2 class="col-md-12">Liste des agences</h2>
        <div class="col-md-12">
            {{ parent() }}
        </div>
        {% if is_granted('ROLE_ADMIN_AGENCY_UPDATE') %}
        <a class="col-md-3 btn btn-default pull-right" href="{{ path("admin_agency_manager_add") }}">Créer agence</a>
        {% endif %}
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th data-priority="2">Code</th>
                <th data-priority="3">Nom</th>
                <th data-priority="3">Email</th>
                <th data-priority="5">Contact</th>
                <th data-priority="6">Region</th>
                <th data-priority="4">Active?</th>
                {% if is_granted('ROLE_ADMIN_AGENCY_UPDATE') %}
                    <th data-priority="1">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for agency in agencies %}
                {# @var agency \Front\AppBundle\Entity\Agency #}
                <tr>
                    <td>{{ agency.code }}</td>
                    <td>{{ agency.name }}</td>
                    <td>{{ agency.email }}</td>
                    <td>{{ agency.contact.phone is defined ? agency.contact.phone : agency.contact.mobilePhone }}
                    </td>
                    <td>{{ agency.region.code }} - {{ agency.region.name }}</td>
                    <td class="text-center">
                        <span class="glyphicon {{ agency.active? "glyphicon-ok icon-success" : "glyphicon-remove icon-danger" }}"></span>
                    </td>
                    {% if is_granted('ROLE_ADMIN_AGENCY_UPDATE') %}
                        <td class="text-center">
                            <a href="{{ path("admin_agency_manager_update", { 'id': agency.id }) }}"
                               title="Modifier"><i class="glyphicon glyphicon-cog"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
