{% extends "@FrontDomain/App/base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/jquery.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/bootstrap.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/responsive.dataTables2.1.0.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/responsive.bootstrap.datatables2.1.0.min.js") }}"></script>
{% endblock %}

{% block content %}
    <h2 class="col-md-4 text-nowrap">Liste des news</h2>
    <div class="col-md-3 margin-top-20">
        <select title="Domaines" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
            <option value="{{ path("domain_manager_news_index", {'domain': "all"}) }}">Tous les domaines</option>
            {% for domain in domains %}
                {# @var domain \Front\DomainBundle\Entity\Domain#}
                <option value="{{ path("domain_manager_news_index", {'domain': domain.labelSimplified}) }}"
                        {{ app.request.attributes.get('_route_params')['domain'] == domain.labelSimplified  ? "selected": ""}}>{{ domain.label }}</option>
            {% endfor %}
        </select>
    </div>
    <a class="col-md-3 margin-top-20 btn btn-default pull-right" href="{{ path("domain_manager_news_add") }}">
        Créer une news
    </a>
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th data-priority="2">Titre</th>
            <th data-priority="5">Domaine</th>
            <th data-priority="4">Auteur</th>
            <th data-priority="3">Début de parution</th>
            <th data-priority="3">Fin de parution</th>
            <th data-priority="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
        {# @var new \Front\DomainBundle\Entity\News #}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.domain.label }}</td>
                <td>{{ new.creator.firstname|slice(0,1) }}. {{ new.creator.surname }}</td>
                <td>{{ new.beginPublicationDate | date('d/m/Y') }}</td>
                <td>{{  new.endPublicationDate ? "" : new.endPublicationDate | date('d/m/Y') }}</td>
                <td class="text-center">
                    {% if is_granted(new.domain.role) or is_granted("ROLE_DOMAIN_ADMIN") %}
                        <a href="{{ path('domain_manager_news_modify', {'id': new.id }) }}"
                           title="Modifier la news"><i
                                    class="glyphicon glyphicon-cog"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination pull-right">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li class="{{ p == page ? "active": ""}}">
                <a href="{{ path('domain_manager_news_index', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
