{% extends("::base.html.twig") %}

{% block imageBanner %}
    <a href="{{ path("domain_manager_index") }}">
        <img src="{{ asset('download/admin/img/portalManager.png') }}" alt="Administration Isidore" title="Accueil"/>
    </a>
{% endblock %}

{% block separationBar %}
    <div class="separation-bar separation-bar-domain-manager"></div>
{% endblock %}

{% block profileSwitcher %}
    {# applicationDomain is a global variable set in config.yml #}
    {% set application = applicationDomain %}
    {{ parent() }}
{% endblock %}


{% block menus %}
    {{ render(controller("FrontDomainBundle:App:topMenu", {"route" : app.request.attributes.get('_route')})) }}
{% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            {# The content of the page is in this div #}
            <div class="col-md-12 col-sm-12 col-xs-12 main-content">
                {% for key, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ key }} margin-top-15">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
